@model ConversationBuilder.DataModels.LEDTransitionAction

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
	TempData.Keep("Message");
}
@section Styles {
	<link rel="stylesheet" href="~/css/@ViewBag.CssFile" />	
}

<h3>Create LED transition action</h3>
<hr />
<h3 style="color:red">@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Red" class="control-label"></label>
				<input asp-for="Red" class="form-control" />
				<span asp-validation-for="Red" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Green" class="control-label"></label>
				<input asp-for="Green" class="form-control" />
				<span asp-validation-for="Green" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Blue" class="control-label"></label>
				<input asp-for="Blue" class="form-control" />
				<span asp-validation-for="Blue" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Red2" class="control-label"></label>
				<input asp-for="Red2" class="form-control" />
				<span asp-validation-for="Red" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Green2" class="control-label"></label>
				<input asp-for="Green2" class="form-control" />
				<span asp-validation-for="Green" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Blue2" class="control-label"></label>
				<input asp-for="Blue2" class="form-control" />
				<span asp-validation-for="Blue" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Pattern"></label>
				<select asp-for="Pattern" class="form-control">
					<option value="None" selected>None</option>
					<option value="Blink">Blink</option>
					<option value="Breathe">Breathe</option>
					<option value="TransitOnce">TransitOnce</option>
				</select>
			</div>
			<div class="form-group">
				<label asp-for="PatternTime " class="control-label"></label>
				<input asp-for="PatternTime" class="form-control" />
				<span asp-validation-for="PatternTime" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ManagementAccess"></label>
				<select asp-for="ManagementAccess" class="form-control">
					<option value="Private">Private</option>
					<option value="Shared">Shared</option>
					<option value="Public" >Public</option>
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	@Html.ActionLink("Back to List", "Index",  "LEDTransitionActions")
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
