@model ConversationBuilder.ViewModels.LEDTransitionViewModel

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
	TempData.Keep("Message");
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}

<h3>Create LED transition action</h3>
<hr />
<h3 style="color:red">@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				Starting Color
			 	<input asp-for="StartingRGB" class="form-control" data-jscolor="{alphaChannel: false, value:'rgba(51,153,255)', position:'bottom', height:80, backgroundColor:'#333',
                          palette:'rgba(0,0,0) #fff #808080 #000 #996e36 #f55525 #ffe438 #88dd20 #22e0cd #269aff #bb1cd4',
                          paletteCols:11, hideOnPaletteClick:true}">
				<span asp-validation-for="StartingRGB" class="text-danger"></span>
			</div>
			
			<div class="form-group">
				Ending Color
			 	<input asp-for="EndingRGB" class="form-control" data-jscolor="{alphaChannel: false, value:'rgba(51,153,255)', position:'bottom', height:80, backgroundColor:'#333',
                          palette:'rgba(0,0,0) #fff #808080 #000 #996e36 #f55525 #ffe438 #88dd20 #22e0cd #269aff #bb1cd4',
                          paletteCols:11, hideOnPaletteClick:true}">
				<span asp-validation-for="EndingRGB" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Pattern"></label>
				<select asp-for="Pattern" class="form-control">
					<option value="None" selected>None</option>
					<option value="Blink">Blink</option>
					<option value="Breathe">Breathe</option>
					<option value="TransitOnce">TransitOnce</option>
				</select>
			</div>
			<div class="form-group">
				<label asp-for="PatternTime " class="control-label"></label>
				<input asp-for="PatternTime" class="form-control" />
				<span asp-validation-for="PatternTime" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ManagementAccess"></label>
				<select asp-for="ManagementAccess" class="form-control">
					<option value="Private">Private</option>
					<option value="Shared">Shared</option>
					<option value="Public" >Public</option>
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	@Html.ActionLink("Back to List", "Index",  "LEDTransitionActions")
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	@{await Html.RenderPartialAsync("_ColorPicker");}
}
