<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Misty Conversation Builder</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/themes/lite.css" />
	@RenderSection("Styles", false)
	<script src="~/js/dynamic-dictionary.js"></script>
	<script src="~/js/dynamic-list.js"></script>

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Misty Conversation Builder</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<partial name="_LoginPartial" />
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link" target="_blank" href= "https://community.mistyrobotics.com/">Community</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<hr />	
	</header>
	<div class="row">
		<div class="column" style="column-width: 100px; padding:50px;">
			@if(User.IsInRole(ConversationBuilder.Roles.SiteAdministrator) || User.IsInRole(ConversationBuilder.Roles.Customer))
			{
				<dl>
					<dt>
						<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Conversations">Conversations</a>
					</dt>

					<dt>
						<a class="nav-link" asp-area="" asp-controller="Home" asp-action="ActionLibrary">Action Library</a>
					</dt>

					<dt>
						<a class="nav-link" asp-area="" asp-controller="Home" asp-action="TriggerConstruction">Triggers</a>
					</dt>

					<dt>
						<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Advanced">Advanced</a>
					</dt>
				</dl>
			}
		</div>
		<div class="column mx-auto">
			<div class="container center">
					<main role="main" class="pb-3">
						@RenderBody()
					</main>
				</div>
			</div>
		</div>
	</div>
	<footer class="border-top footer text-muted">		
		<div class="container text-center">
			&copy; 2021 - <a href= "https://www.mistyrobotics.com">Misty Robotics</a> - <a href= "https://www.mistyrobotics.com/legal">Legal</a> - <a href= "https://github.com/MistySampleSkills/Conversation-Builder">Code</a> - Version 1.0.0			
		</div>

	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>