@{
	ViewData["Title"] = "Admin Home";
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}

<div style="padding-top:70px;">
	<dl>
		<dt><label title="Library of actions that can be used in conversations."><a class="nav-item" asp-action="index" asp-controller="animations">Animations</a></label></dt>
		<dt><label title="Simple LED transitions that can be used in animations."><a class="nav-item" asp-action="index" asp-controller="ledtransitionactions">LED Transition Actions</a></label></dt>
		<dt><label title="Deprecated movement actions for arm that can be used in animations."><a class="nav-item" asp-action="index" asp-controller="armlocations">Arm Movements</a></label></dt>
		<dt><label title="Deprecated movement actions for  head that can be used in animations."><a class="nav-item" asp-action="index" asp-controller="headlocations">Head Movements</a></label></dt>
  	</dl>	
</div>
