@{
	ViewData["Title"] = "Admin Home";
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}

<div style="padding-top:70px;">
	<dl>
		<dt><label title="Skill messages to communicate with other skills."><a class="nav-item" asp-action="index" asp-controller="skillmessages">Skill Messages</a></label></dt>
		<dt><label title="Dynamic lookup data that can be used in speaking and as speech trigger lookup text."><a class="nav-item" asp-action="index" asp-controller="genericdatastores">User Lookup Data</a></label></dt>
		
	@if (User.IsInRole("MistyAdministrator"))
	{
		<dt><label title="Dynamic lookup data that can be used in speaking and as speech trigger lookup text."><a class="nav-item" asp-area="identity" asp-page="/account/register">Add New User</a></label></dt>		
	}

  	</dl>	
</div>