@{
	ViewData["Title"] = "Home Page";
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}


<div class="text-center">
	
	@if(!User.Identity.IsAuthenticated)
	{
		<p>
			The conversation builder lets you create interesting conversations for the Misty II robot that utilize most of her sensors and inputs, without writing code.
		</p>
		<p>
			Log in or go to the <a href= "https://github.com/MistySampleSkills/Conversation-Builder">Conversation Builder Github Repository</a> for more information.
		</p>
	}
	else
	{
		<p>
		Start by creating a new Conversation. Then make and attach at a minimum, a starting Interaction and "no trigger" Interaction (which can be the same one).
		</p>
		<p>
		Make a Conversation Group and attach this Conversation. Once everything is saved you should be able to start it from the Conversation Group.
		</p>
	}

</div>