@{
	ViewData["Title"] = "Home Page";
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}


<div class="text-center">
	
	@if(!User.Identity.IsAuthenticated)
	{
		<p>
			The conversation builder lets you create interesting conversations for the Misty II robot that utilize most of her sensors and inputs, without writing code.
		</p>
		<p>
			Log in or go to the <a href= "https://github.com/MistySampleSkills/Conversation-Builder">Conversation Builder Github Repository</a> for more information.
		</p>
	}

</div>