@{
	ViewData["Title"] = "Home Page";
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}


<div class="text-center">
	
	@if(!User.Identity.IsAuthenticated)
	{
		<p>
			The conversation builder lets you create interesting conversations for the Misty II robot that utilize most of her sensors and inputs, without writing code.
		</p>
		<p>
			Log in or go to the <a href= "https://github.com/MistySampleSkills/Conversation-Builder">Conversation Builder Github Repository</a> for more information.
		</p>
	}
	else
	{
		<p>
		Start by creating a new Conversation. Then make and attach at a minimum, a starting Interaction and "no trigger" Interaction (which can be the same one). Add animations, scripted actions, triggers and trigger handlers to each interaction as needed.
		</p>
		<p>
		Create a new speech configuration in the Administrative section, or use one of the seeded options, using Vosk for ASR (requires recently released nuget and home robot updates), and Misty or Skill for TTS if you don't have Google or Azure authorization.		
		</p>
		<p>
		Create a character and attach your speech configuration to the character. The system will seed two characters for you upon deployment.
		</p>
		<p>
		Make a Conversation Group and attach this conversation and character. Once everything is saved and the skill is loaded on the robot, you should be able to start it from the Conversation Group after entering in your robot's IP.
		</p>
		<p>
		See the Readme and github account for more information. To see the github account, click the Code link at the bottom of the page.
		</p>
	}

</div>