@{
	ViewData["Title"] = "Admin Home";
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}

<div style="padding-top:70px;">
	<dl>
		<dt><label title="Speech handlers to be used as speech intent triggers on the 'Triggers' page."><a class="nav-item" asp-action="index" asp-controller="speechhandlers">Speech Handlers</a>	</label></dt>
		<dt><label title="Library of triggers to be used in interactions to indicate an action."><a class="nav-item" asp-action="index" asp-controller="triggers">Triggers</a></label></dt>
  	</dl>	
</div>
