@{
	ViewData["Title"] = "User Home";
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}

<div class="text-center">
		
	<h6><a class="nav-link" asp-area="" asp-controller="Home" asp-action="AnimationConstruction">Create Robot Movement and Speech</a></h6>

	<h6><a class="nav-link" asp-area="" asp-controller="Home" asp-action="TriggerConstruction">Create Robot Triggers</a></h6>

	<h6><a class="nav-link" asp-action="index" asp-controller="conversations">Create and Map Conversations</a></h6>

	<h6><a class="nav-link" asp-action="index" asp-controller="conversationgroups">Create and Export Conversation Groups</a></h6>

	<hr />

	<h6><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Advanced">Advanced Features</a></h6>

	<h6><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Administrative">Administrative</a></h6>
	
</div>