@model ConversationBuilder.ViewModels.SpeechHandlerViewModel

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
	TempData.Keep("Message");
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}

<h3>Editing speech handler @Html.DisplayFor(model => model.Name)</h3>
<hr />
<h5 style="color:red">@ViewBag.Message</h5>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<label title="Try to keep your names descriptive and unique as you will use them in trigger creation.">ℹ️</label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<label title="Optional description.">ℹ️</label>
				<textarea asp-for="Description" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>			
			<div class="form-group">
				<label asp-for="UtteranceString" class="control-label"></label>
				<label title="Comma separated list of phrases that indicate this speech trigger.">ℹ️</label>
				<textarea asp-for="UtteranceString" class="form-control"></textarea>
				<span asp-validation-for="UtteranceString" class="text-danger"></span>
			</div>	
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input asp-for="ExactMatchesOnly" /> @Html.DisplayNameFor(model => model.ExactMatchesOnly)
						<label title="If selected, will only match if comma separated phrases contains what is said exactly.">ℹ️</label>
					</label>
				</div>
			</div>
			@if(ViewBag.ShowBetaItems)
			{
				<div class="form-group">
					<label asp-for="ManagementAccess"></label>
					<select asp-for="ManagementAccess" class="form-control">
						<option value="Private">Private</option>
						<option value="Shared">Shared</option>
						<option value="Public" >Public</option>
					</select>
				</div>
			}
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	@Html.ActionLink("Back to List", "Index",  "SpeechHandlers")
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
